@mixin img-display {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    margin-top: 10px;
}

@mixin hover-effect($color) {
    &:hover{

        background-color: lighten($color, 15%);
        outline: none;
    }
}