$primary-color:#58e1c1;


//colors to repeat
$multi-task-color: #927bc1;   // column-1 & btn-info.
$multi-task-color-2: #fd7856;  // column-2 & btn-warninig.
$multi-task-color-3: #e4757a; // column-9 & btn-error.
$multi-task-color-4:#63cc82;  //column-10 & btn-success.
$multi-task-color-5: #51ddfc; //column-11 & btn-success.
// Columns color
$col-3-bg: #deb2ee;
$col-4-bg: #7ee6fd;
$col-5-bg: #88d9a0;
$col-6-bg: #4da2bb;
$col-7-bg: #ec9fa3;
$col-8-bg: #fd9f85;
$col-12-bg:#80e8d1;
//media query
$breakpoint: 768px;