$primary-color:#58e1c1;










// Columns color
$col-1-bg: #927bc1;
$col-2-bg:#fd7856;
$col-3-bg: #deb2ee;
$clo-4-bg: #7ee6fd;
$col-5-bg: #88d9a0;
$col-6-bg: #4da2bb;
$col-7-bg: #ec9fa3;
$col-8-bg: #fd9f85;
$col-9-bg: #e4757a;
$col-10-bg: #63cc82;
$col-11-bg: #51ddfc;
$col-12-bg: #80e8d1;

//buttons color
$color-btn-error: #e4757a ;
$color-btn-sucess:#63cc82 ;
$color-btn-warning:#fd7856;
$color-btn-default:#51ddfc;
$color-btn-info:#927bc1;