/* ============================================= */
/*              Buttons                          */
/* ============================================= */

.btn {
	margin-top: 15px;
	width: 100%;
	color: #fff;
	border: none;
	padding: 10px 0;
	text-transform: uppercase;
	border-radius: 5px;
}

	.default {
		background-color: $multi-task-color-5;
		@include hover-effect($multi-task-color-5);
	}

	.error {
		background-color: $multi-task-color-3;
		@include hover-effect($multi-task-color-3);
	}

	.info {
		background-color: $multi-task-color;
		@include hover-effect($multi-task-color);
	}

	.success {
		background-color: $multi-task-color-4;
		@include hover-effect($multi-task-color-4);
	}

	.warning {
		background-color: $multi-task-color-2;
		@include hover-effect($multi-task-color-2);
	}
