/* ============================================= */
/*              Grid System                      */
/* ============================================= */

.container {
	padding: 0 10px;
}

.row {
	display: flex;
	flex-direction: column;
	padding: 1em 10px;
}

[class^=col] {
	margin-top: 10px;
	flex-basis: 100%;
	min-height: 25px;
	padding: 10px;
	border-radius: 5px;
}

.theme.col-1 {
	background-color: $multi-task-color;
}

.theme.col-2 {
	background-color: $multi-task-color-2;
}

.theme.col-3 {
	background-color: $col-3-bg;
}

.theme.col-4 {
	background-color: $col-4-bg;
}

.theme.col-5 {
	background-color: $col-5-bg;
}

.theme.col-6 {
	background-color: $col-6-bg;
}

.theme.col-7 {
	background-color: $col-7-bg;
}

.theme.col-8 {
	background-color: $col-8-bg;
}

.theme.col-9 {
	background-color: $multi-task-color-3;
}

.theme.col-10 {
	background-color: $multi-task-color-4;
}

.theme.col-11 {
	background-color: $multi-task-color-5;
}

.theme.col-12 {
	background-color: $col-12-bg;
}

.card {
	flex-basis: 100%;
}
